@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/footer';

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px; /* 950px - это размер контейнера 10 колонок (осуществляем верстку без помощи бутстреп сетки) */
    margin: 0 auto;
}

