@media screen and (max-width: 992px) {
    .header{
        &__official{
            display: none;
        }
        &__logo{
            margin-left: 50px;
        }
        &__contacts {
            margin-right: 50px;
        }
    }
    .promo {
        &__header {
            margin-right: 50px;
            font-size: 35px;
        }
        &__subheader {
            margin-right: 50px;
            font-size: 20px;
        }
        &__icons {
            margin-right: 50px;
        }
        .button {
            &_main{
                margin-right: 50px;
            }
        }
        &__link {
            margin-right: 50px;
        }
    }
    .advantages {
        padding: 73px 40px 67px 40px;
        &__item{
            width: 210px;
        }
    }
    .consultation {
        padding: 100px 40px 92px 40px;
        .title{
            &_left{
                font-size: 30px;
            }
        }
    }
    .carousel{
        .slick-dots{
            display: flex;
            justify-content: space-evenly;
            margin-top: 40px;
            li{
                list-style-type: none;
                button{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: none;
                    background-color: $main-color;
                    color: white;
                }
            }
            
        }
    }
    .catalog{
        &__content{
            justify-content: space-evenly;
        }
    }
    .review{
        padding: 0 40px;
    }
}

@media screen and (max-width:767px){
    .promo{
        background: url(../img/bg_adapted.jpg) center center/cover no-repeat;
        &__header{
            margin: 0 auto;
        }
        &__subheader{
            margin: 0 auto;
            margin-top: 20px;
        }
        &__icons{
            margin: 0 auto;
            margin-top: 60px;
        }
        .button{
            &_main{
                margin: 40px auto;
                margin-bottom: 10px;
            }
        }
        &__link{
            margin: 0 auto;
        }
    }
    .advantages{
        &__wrapper{
            display: block;
        }
        &__item{
            width: 303px;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    .consultation{
        padding-top: 65px;
        .title{
            &_left{
                font-size: 20px;
                line-height: 44px;
                text-align: center;
            }
        }
        &__descr{
            font-size: 18px;
            text-align: center;
        }
        .feed-form{
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    .carousel{
        &__inner{
            width: 80%;
            &__img{
                width: 100%;
            }
        }
    }
    .catalog{
        &__tabs{
            flex-direction: column;
            justify-content: space-between;
            height: 190px;
        }
    }
    .review{
        min-height: 1150px;
        &__img{
            width: 110px;
            height: 110px;
        }
        &__wrapper{
            padding-bottom: 211px;
            &__descr{
                left: 160px;
            }
        }
        &__descr{
            font-size: 14px;
        }
    }
}

@media screen and (max-width:575px){
    .header{
        &__phone{
            font-size: 17px;
            margin-bottom: 5px;
        }
        &__logo{
            padding: 0 20px;
            margin-left: 0;
        }
    }
    .promo{
        &__header{
            text-align: center;
            font-size: 25px;
        }
        &__subheader{
            text-align: center;
            font-size: 15px;
            margin-top: 10px;
        }
        &__icons{
            width: 360px;
        }
    }
    .consultation{
        .title{
            &_left{
                font-size: 15px;
                line-height: 31px;
            }
        }
        &__descr{
            font-size: 16px;
        }
    }
    .catalog{
        .title{
            font-size: 20px;
        }
        &__tabs{
            margin-top: 35px;
        }
    }
    .review{
        min-height: 1500px;
        .title{
            &_review{
                padding-bottom: 0;
            }
        }
        &__wrapper{
            margin-top: 100px;
        }
        &__img{
            display: block;
            margin: 0 auto;
        }
        &__img{
            margin: 0 auto;
        }
        &__wrapper{
            &__descr{
                top: 121px;
                text-align: center;
                left: 0;
            }  
        } 
    
    }
    .footer{
        &__info{
            width: 372px;
        }
    }
}